// Define Colors
$primary-light: #FF1F66;
$primary-dark: #04395E;
$red-50: #FFEBE7;
$black-900: #000000;
$black-300: #D9D9D9;
$black-100: #F8F8F8;
$black-50: #FFFFFF;

// Define Media Queries
$tablet: 640px;
$desktop: 1024px;
